@charset "UTF-8";
body {
  background: #ffffff;
  color: #212121;
  font-family: Roboto, 'Segoe UI';
  font-style: 400px;
  text-decoration: none;
  line-height: 1.5;
}

input {
  font-family: inherit;
}

label {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
li {
  margin: 0;
  padding: 0;
}

.container {
  /* outline: 2px solid red; */
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo__link-ending {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__link-ending--white {
  color: #ffffff;
  padding-top: 0;
}

.logo__link-started {
  color: #2196f3;
}

.header {
  border: 1px solid #ececec;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item:nth-child(n + 2) {
  margin-left: 50px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 69px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.form {
  max-width: 448px;
  border-radius: 4px;
  background-color: #fff;
  color: #212121;
}

.form__title {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
}

.form__group {
  margin-bottom: 10px;
}

.form__lable {
  margin-bottom: 4px;
  text-align: start;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  text-transform: none;
  /* identical to box height */
  letter-spacing: 0.01em;
}

.form__input-wrapper {
  /* outline: 2px solid red; */
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: inherit;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* border: none; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.form__input:hover, .form__input:focus-within {
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus-within + .form__icon {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: currentColor;
}

.form__text:focus-within, .form__text:hover {
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.assent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: auto;
}

.assent__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.172;
  text-transform: none;
  /* identical to box height */
  letter-spacing: 0.01em;
}

.assent__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 10px;
  font-size: inherit;
  line-height: inherit;
}

.assent__link {
  color: #2196f3;
  text-decoration: underline;
  padding-left: 3px;
}

.assent__checkbox + .assent__icon {
  /* outline: 1px solid red; */
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}

.assent__checkbox + .assent__icon use {
  display: none;
}

.assent__checkbox:checked + .assent__icon {
  border: none;
}

.assent__checkbox:checked + .assent__icon use {
  display: block;
  border-color: #2196f3;
}

.assent__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__btn-send {
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
}

.btn-close use {
  fill: #000000;
}

.btn-close:hover use,
.btn-close:focus use {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: visible;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__item {
  color: #ffffff;
  margin-top: 9px;
}

/* соцсети */
.social {
  margin-left: 70px;
}

.social__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social__link:hover,
.social__link:focus {
  background: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: #ffffff;
}

.singup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.singup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.singup__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.singup__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
}

.singup__btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding-left: 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.singup__icon-submit {
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ffffff;
}

.section-hero {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/baner.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/baner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.baner {
  width: 1200px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
  margin: 0;
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  border-radius: 4px;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: none;
}

.advantages__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: none;
  background-position: center;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
  min-width: 270px;
  min-height: 101px;
}

.advantages__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work__container {
  padding-bottom: 94px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  /* outline: 2px solid red; */
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team {
  background: #f5f4fa;
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  padding: 30px 32px;
}

.team__social-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__social-text {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
}

.team__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.team__social-link:hover, .team__social-link:focus {
  background: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
}

.client__link:hover, .client__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: currentColor;
}

.filter__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  color: currentColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CARDS WORKS */
.progect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.progect__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.progect__link {
  padding: 0px;
  min-width: 370px;
  min-height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.progect__link:focus, .progect__link:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__overlay {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}

.thumb__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03px;
  color: #ffffff;
}

.progect__link:hover .thumb__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text-container {
  padding: 20px 24px;
}

.card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin-top: 4px;
  color: #757575;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */